<link rel="stylesheet" href="styles/home.css"></link>
<div class="content-wrapper">
    <article class="NE">
        <h2>
            Récap des note du <select class="sem-select" id="semester-select"></select> :
        </h2>
        <div class="grade-gauges-panel" id="grade-gauges-panel">
            <div class="lds-ring">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </article>
    <article class="O">
        <h2>
            Cours à venir :
        </h2>
        <section class="upcoming-courses-panel-wrapper">
            <div class="upcoming-courses-panel" id="upcoming-courses-panel">
                <div class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
    
            </div>
            <div id="sep-days"></div>
            <div class="upcoming-courses-panel" id="classes-after"></div>
            <div class="see-more">
                <a data-route href="/calendar">Voir plus</a>
            </div>
        </section>
    </article>
    <article class="SE">
        <div class="SE_O">
            <h2>Cours récents :</h2>
            <div class="recent-courses-panel" id="recent-courses-panel">
                <div class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="SE_E">
            <h2>Cours épinglés :</h2>
            <div class="pinned-courses-panel" id="pinned-courses-panel">
                <div class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </article>
</div>
