<style>
    .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }

    section {
        width: 100%;
    }
    
    .search-option {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .search-bar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .search-bar > input {
        width: 80%;
        padding: 0.5rem;
        border-radius: 1rem;
        border-color: snow;
        background-color: rgba(0, 0, 0, 0.1);
        color: snow;
        font-size: 1rem;
    }
</style>
<div class="content-wrapper">
    <section class="search-option">
        <div class="search-bar">
            <input type="text" id="search" placeholder="Rechercher une tache"/>
        </div>
        <div class="cat">

        </div>
    </section>
    <section class="display-option">

    </section>
    <section class="todo-list">
    </section>
</div>