* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: snow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}
body {
    height: 100vh;
    background-image: url("../assets/images/motif.png");
    background-repeat: repeat;
    display: flex;
    background-color: #266c6c;
    flex-direction: column;
}

i.material-icons::before {
    display: none;
    color: transparent;
}

i.material-icons::after {
    display: block;
    color: snow;
}

#content {
    flex: 1 1 auto;
}



html {
    visibility: visible !important;
    opacity: 1 !important;
}